<p>home works!</p>

{{title|uppercase}}

<div>
    {{Stock}}
</div>
<div [style.backgroundColor]="color"> propertyBinding </div>
<br>
<input class="form-control" type="submit" value="say hello" (click)="alert()">

<br>

<input class="form-control" type="text" [(ngModel)]="priceMax" placeholder="aaaa">

<table class="table" border="2">
    <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">like</th>
        <th scope="col">actons</th>
    </tr>
    <tr *ngFor="let product of listProduct; let i=index">
        <ng-container *ngIf="product.price>priceMax || priceMax==null">
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.like}}</td>
            <td>
                <button class="btn btn-primary" (click)=" increment(i) ">like</button></td>
            <td><button class="btn btn-dark" (click)="buy(i) " [disabled]="product.quantity==0 ">buy</button></td>
            <td>
                <button class="btn btn-info" [routerLink]="['/product',product.id]">show</button></td>
        </ng-container>
    </tr>
</table>