<h1> Residences</h1>
<ul class="list-group" *ngFor="let r of listResidences">

    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{r.id}} {{r.name}} {{r.address}}
        <button class="btn btn-info" (click)="checkAppart(r.id)"> show App</button>
</ul>
<table class="table" border="2">
    <tr>
        <th scope="col">id</th>
        <th scope="col">appartNum</th>
        <th scope="col">floorNum</th>
        <th scope="col">surface</th>
        <th scope="col">terrace</th>
    </tr>
    <tr *ngFor="let app of list; let i=index">
        <td>{{app.id}}</td>
        <td>{{app.appartNum}}</td>
        <td>{{app.floorNum}}</td>
        <td>{{app.surface}}</td>
        <td>{{app.terrace}}</td>
        <td>
    </tr>
